.Form-Container {
  margin: 20px auto;
  width: 500px;
  color: #000;
  padding: 20px;
  border-radius: 10px;
}
.FeedbackImg {
  width: 200px;
  background: black;
  border-radius: 50%;
}

.chat_icon{
position:absolute;
bottom:0;
right:20px;
z-index:3;

}
.chat_box {
  padding:4px;
  position: fixed;
  right: 60px;
  bottom: 0px;
  width: 400px;
  height: 80vh;
  border-top-left-radius: 10px;
 
  z-index: 2;
  transition: all 0.3s ease-out;
  transform: scaleY(0);
 
}

.chat_box.active {
  transform: scaleY(1);
}

.hidden {
  display: none !important;
}

.conv-form-wrapper textarea {
  height: 30px;
  overflow: hidden;
  resize: none;
}

#mesages {
  padding: 2px;
}

.students {
  text-align: center;
  align-items: center;
}
.slides {
  font-size: 1%;
}
