@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700|Poppins:200,300,400,500,500i,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700|Poppins:200,300,400,500,500i,600,700,800&display=swap);
.header-area .main-header-area.sticky {
    background: #a64eee;
    background: -moz-linear-gradient(left, #a64eee 0%, #3c35ce 100%);
    background: -webkit-linear-gradient(left, #a64eee 0%, #3c35ce 100%);
    background: linear-gradient(to right, #a64eee 0%, #3c35ce 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a64eee', endColorstr='#3c35ce', GradientType=1)
}

body {
    font-family: "Crimson Text", serif;
    font-weight: normal;
    font-style: normal;
    color:#000;
}

html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;;
}
.img {
    max-width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

a,
.button {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

a:focus,
.button:focus,
button:focus {
    text-decoration: none;
    outline: none
}

a:focus {
    text-decoration: none
}

a:focus,
a:hover {
    text-decoration: none
}

a,
button {
    color: #1f1f1f;
    outline: medium none
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    color: #2e004b
}


p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #919191;
    margin-bottom: 13px;
    font-family: "Crimson Text", serif
}



h3 {
    font-size: 24px
}


.boxed-btn {
    background: #fff;
    color: #666;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #04d2c8;
    letter-spacing: 3px;
    text-align: center;
    color: #666!important;
    text-transform: uppercase;
    cursor: pointer
}

.boxed-btn:hover {
    background: #666;
    color: #fff!important;
    border: 1px solid #000
}

.boxed-btn:focus {
    outline: none
}

.boxed_btn {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 17px 50px;
    background: #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    display: inline-block;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.boxed_btn:hover {
    background: transparent;
    color: #666;
    border: 1px solid #000;
    color: #000!important
}

.boxed_btn_rev {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 17px 50px;
    background: transparent;
    color: #04d2c8;
    border: 1px solid #04d2c8!important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    display: inline-block;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.boxed_btn_rev:hover {
    color: #fff!important;
    background: #04d2c8!important
}

.boxed_btn_orange {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 12px 30px;
    background: #fdae5c;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    display: inline-block;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.boxed_btn_orange:hover {
    background: transparent;
    color: #fdae5c;
    border: 1px solid #fdae5c;
    color: #fdae5c!important
}

.section_title h3 {
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 23px;
    color: #1f1f1f
}

@media (max-width:767px) {
    .section_title h3 {
        font-size: 23px;
        line-height: 30px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .section_title h3 {
        font-size: 32px;
        line-height: 40px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .section_title h3 {
        font-size: 33px;
        line-height: 40px
    }
}

.section_title p {
    font-size: 17px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    line-height: 28px;
    color: #727272;
    margin-bottom: 0
}

@media (max-width:767px) {
    .section_title p br {
        display: none
    }
}

.mb-100 {
    margin-bottom: 100px
}

@media (max-width:767px) {
    .mb-100 {
        margin-bottom: 40px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .mb-100 {
        margin-bottom: 40px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .mb-100 {
        margin-bottom: 60px
    }
}





.subscribe_newsletter {
    
    padding: 100px 0;
    
}

.subscribe_newsletter .newsletter_text h3 {
    font-size: 36px;
    color: #000;
    font-weight: 400
}

.subscribe_newsletter .newsletter_text p {
    color: #000;
}

.subscribe_newsletter .newsletter_form h4 {
    color: #000;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 400
}

.subscribe_newsletter .newsletter_form .newsletter_form input {
    height: 60px;
    width: 70%;
    background: #fff;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
    padding: 30px
}

.subscribe_newsletter .newsletter_form .newsletter_form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-family: "Crimson Text", serif;
    color: #919191
}

.subscribe_newsletter .newsletter_form .newsletter_form button {
    background: #fd8e5e;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 30%;
    height: 60px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.courses_details_info {
    padding-top: 190px
}

@media (max-width:767px) {
    .courses_details_info {
        padding-top: 60px
    }
}

.courses_details_info #accordion .card h5 button {
    font-size: 22px;
    font-weight: 400;
    color: #1f1f1f
}

@media (max-width:767px) {
    .courses_details_info #accordion .card h5 button {
        font-size: 13px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .courses_details_info #accordion .card h5 button {
        font-size: 18px
    }
}

.courses_details_info #accordion .card h5 button i {
    color: #00d363;
    padding-right: 15px
}

.courses_details_info #accordion .card .card-body {
    padding: 0 0 40px 76px
}

@media (max-width:767px) {
    .courses_details_info #accordion .card .card-body {
        padding: 0 20px 10px 20px
    }
}

.courses_details_info #accordion .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background: #fff!important;
    border: 1px solid #e9e5ec;
    border: 5px;
    margin-bottom: 30px;
    border: 1px solid #e9e5ec
}

.courses_details_info #accordion .card .card-header {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: none;
    padding: 14px 0 16px 14px
}

@media (max-width:767px) {
    .courses_details_info #accordion .card .card-header span {
        display: none
    }
}

.courses_details_info .btn-link.focus,
.courses_details_info .btn-link:focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none
}

.courses_details_info .btn-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent
}

.our_courses {
    padding-top: 200px;
    padding-bottom: 170px
}

@media (max-width:767px) {
    .our_courses {
        padding-top: 50px;
        padding-bottom: 20px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .our_courses {
        padding-top: 80px;
        padding-bottom: 50px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .our_courses {
        padding-top: 120px;
        padding-bottom: 90px
    }
}

.our_courses .single_course {
    border: 1px solid #e8e8e8;
    padding: 38px 30px;
    position: relative;
    margin-bottom: 30px;
    z-index: 0
}

.our_courses .single_course .icon i {
    color: #fd8e5e;
    font-size: 45px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.our_courses .single_course .icon.blue i {
    color: #04d2c8!important
}

.our_courses .single_course .icon.gradient i {
    color: #d465ef
}

.our_courses .single_course h3 {
    font-size: 18px;
    font-weight: 400;
    color: #1f1f1f;
    margin-bottom: 22px;
    margin-top: 7px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.our_courses .single_course p {
    font-size: 17px;
    color: #727272;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.our_courses .single_course:before {
    position: absolute;
    background: #fd8e5e;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transform-origin: bottom;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0;
    z-index: -1
}

.our_courses .single_course:hover::before {
    transform-origin: top;
    opacity: 1
}

.our_courses .single_course:hover h3 {
    color: #fff
}

.our_courses .single_course:hover p {
    color: #fff
}

.our_courses .single_course:hover .icon i {
    color: #fff!important
}





.courses_details_banner {
    background-image: url("https://github.com/Ceedmy/Ceedmy_frontend/blob/saiharsha-22/React/new-app/public/img/latest_blog/Background.png");
    padding-top: 286px;
    padding-bottom: 186px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

@media (max-width:767px) {
    .courses_details_banner {
        padding-top: 150px;
        padding-bottom: 150px
    }
}

.courses_details_banner .course_text h3 {
    font-size: 46px;
    color: #fff;
    line-height: 56px;
    font-weight: 400;
    font-family: "Poppins", sans-serif
}

@media (max-width:767px) {
    .courses_details_banner .course_text h3 {
        font-size: 30px;
        line-height: 36px
    }
}

.courses_details_banner .course_text .prise span {
    font-size: 30px;
    font-weight: 400;
    font-family: "Poppins", sans-serif
}

@media (max-width:767px) {
    .courses_details_banner .course_text .prise span {
        font-size: 20px
    }
}

.courses_details_banner .course_text .prise span.inactive {
    color: #fff;
    text-decoration: line-through;
    margin-right: 50px
}

.courses_details_banner .course_text .prise span.active {
    color: #04d2c8
}

.courses_details_banner .course_text .rating {
    margin: 16px 0 15px 0
}

.courses_details_banner .course_text .rating i {
    color: #fd8e5e;
    font-size: 17px
}

.courses_details_banner .course_text .rating span {
    font-size: 14px;
    color: #fff
}

.courses_details_banner .course_text .hours .video .single_video {
    margin-bottom: 4px
}

.courses_details_banner .course_text .hours .video i {
    color: #ad9eeb;
    font-size: 18px
}

.courses_details_banner .course_text .hours .video span {
    color: #fff;
    font-size: 18px;
    padding-left: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif
}

.courses_details_info {
    padding-top: 100px;
    padding-bottom: 200px
}

@media (max-width:767px) {
    .courses_details_info {
        padding: 50px 0 50px 0
    }
}

.courses_details_info .single_courses h3 {
    font-size: 36px;
    font-weight: 400;
    color: #1f1f1f;
    margin-bottom: 30px
}

.courses_details_info .single_courses h3.second_title {
    margin-top: 52px
}

.courses_details_info .single_courses p {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 0
}

.courses_details_info .courses_sidebar {
    position: relative;
    margin-top: -400px
}

@media (max-width:767px) {
    .courses_details_info .courses_sidebar {
        margin-top: 0
    }
}

@media (min-width:768px) and (max-width:991px) {
    .courses_details_info .courses_sidebar {
        margin-top: 0
    }
}

.courses_details_info .courses_sidebar .video_thumb {
    position: relative
}

.courses_details_info .courses_sidebar .video_thumb img {
    width: 100%
}

.courses_details_info .courses_sidebar .video_thumb a {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fd8e5e;
    width: 90px;
    height: 90px;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 90px;
    text-align: center
}

.courses_details_info .courses_sidebar .author_info {
    border: 1px solid #e8e8e8;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px
}

.courses_details_info .courses_sidebar .author_info p.text_info {
    margin: 14px 0 20px 0
}

.courses_details_info .courses_sidebar .author_info .auhor_header .thumb {
    float: left
}

.courses_details_info .courses_sidebar .author_info .auhor_header .name {
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    top: 5px
}

.courses_details_info .courses_sidebar .author_info .auhor_header .name h3 {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 400;
    margin-bottom: 4px
}

.courses_details_info .courses_sidebar .author_info .auhor_header .name p {
    font-size: 14px;
    color: #919191
}

.courses_details_info .courses_sidebar .author_info ul li {
    display: inline-block
}

.courses_details_info .courses_sidebar .author_info ul li a {
    color: #d1d1d1;
    margin-right: 17px
}

.courses_details_info .courses_sidebar .author_info ul li a:hover {
    color: #04d2c8
}

.courses_details_info .courses_sidebar .boxed_btn {
    width: 100%;
    text-align: center
}

.courses_details_info .courses_sidebar .feedback_info {
    border: 1px solid #e8e8e8;
    padding: 35px;
    margin-top: 40px
}

@media (max-width:767px) {
    .courses_details_info .courses_sidebar .feedback_info {
        padding: 25px
    }
}

.courses_details_info .courses_sidebar .feedback_info h3 {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 27px
}

.courses_details_info .courses_sidebar .feedback_info p {
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0
}

.courses_details_info .courses_sidebar .feedback_info i {
    font-size: 20px;
    color: #feae5c
}

.courses_details_info .courses_sidebar .feedback_info textarea {
    margin-top: 15px;
    border: 1px solid #e8e8e8;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%
}

.courses_details_info .courses_sidebar .feedback_info textarea::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 17px
}









.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px
}

b,
sup,
sub,
u,
del {
    color: #ff5e13
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px;
    
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #828bb2
}

.button-area {
    background: #fff
}
